* {
  margin: 0px;
  padding: 0px;
}
.App {
  width: 100%;
  background-image: url("./img/foodImage.svg");
  background-repeat: no-repeat;
  background-size: 50rem;
  background-color: lightgreen;
}

form.center input {
  padding: 8px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
form.center button {
  float: left;
  width: 20%;
  padding: 7.5px;
  background: #a7ffb5;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

form {
  margin: auto;
  width: 35rem;
  margin-bottom: 0.5rem;
}
